html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}


        .rssn h1 { font-size: 40px; color: red;margin:0;padding:0}
        .rssn a {color: rgb(253, 170, 45);}
        .rssn a:visited {color: rgb(255, 189, 23);}
        .rssn a:hover {color: rgb(255, 255, 255);}
        .pgn h1 { font-size: 40px; color: green; }
        .mfo h1 { font-size: 30px; color: blue; margin:0;padding:0;}

        .horos h1,a {line-height: 12px;margin-top:6px;color: rgb(56, 26, 67);}

